<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/register.style.css" />
    <title>Register</title>
  </head>

  <body>
    <div class="container">
      <form class="register-form" action="/register" method="POST">
        <h2>Criar conta</h2>

        <div class="input">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Digite seu email"
          />
        </div>

        <div class="input">
          <label for="nome">Nome</label>
          <input
            type="text"
            id="nome"
            name="nome"
            required
            placeholder="Digite seu email"
          />
        </div>

        <div class="input">
          <label for="sobrenome">sobrenome</label>
          <input
            type="text"
            id="sobrenome"
            name="sobrenome"
            required
            placeholder="Digite seu email"
          />
        </div>

        <div class="input">
          <label for="senha">Senha</label>
          <input
            type="password"
            id="senha"
            name="senha"
            required
            placeholder="Digite sua senha"
          />
        </div>
        <div class="input">
          <label for="senha">Confirmar Senha</label>
          <input
            type="password"
            id="confirmarSenha"
            name="confirmarSenha"
            required
            placeholder="Confirme sua senha"
          />
        </div>
        <div class="checkbox-admin">
          <label for="isAdmin">Admin?</label>
          <input type="checkbox" id="isAdmin" name="isAdmin" onchange="toggleAdminSenha()" />

        </div>
        
        
        <div class="input admin-secret" id="adminSecretInput" style="display: none;">
          <label for="adminSecret">Senha de autorização (admin)</label>
          <input
            type="password"
            id="adminSecret"
            name="adminSecret"
            placeholder="Digite a senha secreta de administrador"
          />
        </div>
        
        <script>
          function toggleAdminSenha() {
            const check = document.getElementById('isAdmin');
            const input = document.getElementById('adminSecretInput');
            input.style.display = check.checked ? 'block' : 'none';
          }
        </script>
        
        

        <button type="submit" class="btn-entrar">Criar</button>
        <p class="p-login">Já tem uma conta?</p>
        <a href="/login" class="btn-login">Login</a>
        <% if (typeof error !=='undefined' ) { %>
        <div class="error-message"">
          <p><%= error %></p>
        </div>
        <% } %>
      </form>
    </div>
  </body>
</html>
