<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel="stylesheet" href="/stylesheets/login.style.css" />
  </head>

  <body>
    <div class="login-container">
      <form class="login-form" action="/login" method="POST">
        <h2>Entrar</h2>

        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Digite seu email"
          />
        </div>

        <div class="input-group">
          <label for="senha">Senha</label>
          <input
            type="password"
            id="senha"
            name="senha"
            required
            placeholder="Digite sua senha"
          />
        </div>

        <div class="checkbox-group">
          <label>Salvar cookies</label>
          <div class="checkbox">
            <input type="checkbox" id="remember" name="remember" />
          </div>
        </div>

        <button type="submit" class="btn-entrar">Entrar</button>
        <p class="p-createAccount">É novo aqui?</p>
        <a href="/register" class="btn-createAccount">Criar conta</a>
        <% if (error) { %>
        <div class="error-message">
          <p><%= error %></p>
        </div>
        <% } %> <% if (success) { %>
        <div class="success-message">
          <p><%= success %></p>
        </div>
        <% } %>
      </form>
    </div>
  </body>
</html>
